VITE_API_URL=http://localhost:8080/api/v1
VITE_SSO_URL=http://localhost:8081
VITE_LOGIN_URL=https://auth.cubingclub.com/oauth2/authorize?response_type=code&client_id=cck_ranking_test&scope=openid+profile+email&redirect_uri=http://localhost:3000/confirm
